// clang-format off
#include <Arduino.h>

// Wifi
const char *CONFIG_WIFI_SSID = "my_wifi";
const char *CONFIG_WIFI_PASSWORD = "my_wifi_password";

// Time
const char *CONFIG_NTP_SERVER = "pool.ntp.org";
const int CONFIG_GMT_OFFSET_SEC = 10 * 60 * 60;  // UTC +10 Timezone
const int CONFIG_DAYLIGHT_OFFSET_SEC = 3600;

// Home Assistant
String CONFIG_HOME_ASSISTANT_URL = "http://10.0.0.1:8123";
String CONFIG_HOME_ASSISTANT_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ.eyJpc3MiOiJlNmY2MmQ3MDcxMjU0MWUyOWUxMzI4ZGEyYzhmNzUwZCIsImlhdCI6MTY5MTM2MTQwOSwiZXhwIjoyMDA2NzINDA5fQ.fmeX-mUURsMJnB3GIJ_NEEmoYthjyW-RBmzjOTY0vQE";
String CONFIG_HOME_ASSISTANT_HOOK_ON = "-yuj8XlY8Fd7f7n8VICJsFFVQ";
String CONFIG_HOME_ASSISTANT_HOOK_OFF = "-hdM4avXcof2HrRO3fqBg_V9q";

// ESP32
const int CONFIG_PIN_MOTION = 27;

// Delay before lights off (ms)
unsigned long CONFIG_SLEEP_DELAY = 5000;

// Delay before turning off LCD on ESP sensor when motion is first
// detected (ms)
unsigned long CONFIG_LCD_SLEEP = 5000;